.btn-hover-dash {
  padding: 0 0 3px;
  position: relative;
  color: #000;

  &:before {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #000;
    content: "";
    transition: transform .4s ease-out;
    transform: scaleX(0);
    transform-origin: bottom right;
  }

  &:hover {
    &:before {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
  }

  &-white {
    color: #fff;

    &:before {
      background-color: #fff;
    }

    &:hover {
      color: #fff;
    }
  }
}

//----------------------------------------------
@keyframes spin {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }
}

//----------------------------------------------
.btn-load-more {
  position: relative;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 190px;
  height: 190px;
  margin-inline: auto;
  margin-top: 50px;
  font-size: 20px;
  color: #000;
  border-radius: 50%;
  transition: .3s all ease;

  @include media-breakpoint-down(md) {
    width: 150px;
    height: 150px;
    margin-top: 30px;
  }

  &:hover {
    opacity: .8;
  }

  .spin-circle {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 4px solid #000;
    animation-name: spin;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    border-radius: 50%;

    &:before {
      position: absolute;
      top: -11px;
      width: 22px;
      height: 22px;
      border-radius: 50%;
      border: 2px solid #000;
      outline: 2px solid #e9e9e9;
      background-color: #fff;
      content: "";
    }
  }
}
