footer {
  padding-top: 100px;
  padding-bottom: 60px;

  .title-footer {
    margin-bottom: 20px;
    line-height: 1.4;
    font-size: 30px;

    small {
      display: block;
      font-size: 18px;
      font-weight: normal;
    }
  }

  .list-media {
    li {
      display: inline-block;
      margin-bottom: 5px;
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .list-address {
    margin-top: 10px;
    li {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      font-size: 14px;

      .icon {
        margin-right: 3px;
      }
    }
  }

  .text-end {
    small {
      font-size: 16px;
    }
  }

  .text-center {
    margin-top: 30px;
  }
}