header {
position: fixed;
top: 0;
right: 0;
left: 0;
padding: 0 15px;
color: #fff;
z-index: 10;
background-color: transparent;
transition: all .3s ease;

&:before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  background: linear-gradient(180deg, rgba(0,0,0,0.75) 0, transparent 100%);
  transition: all .3s ease;
  content: "";
}

  .navbar {
    padding: 15px 0;
    margin: 0 auto;
    max-width: 1400px;
    background-color: transparent;
    border-bottom: 1px solid #ccc;
    border-radius: 0;

    &-brand {
      padding: 0;
      margin-bottom: 0;
      
      a {
        color: #fff;
        font-size: 24px;
        font-weight: bold;

        &:hover {
          opacity: .8;
        }
      }
    }

    &-toggler {
      position: relative;
      padding: 0;
      border: 0;
      width: 28px;
      height: 24px;

      &:focus {
        box-shadow: none;
      }

      &.collapsed {
        .navbar-toggler-icon {
          transform: rotate(0);

          &:nth-of-type(2) {
            opacity: 1;
          }

          &:first-of-type {
            top: 0;
          }
  
          &:last-of-type {
            bottom: 0;
          }
        }
      }

      &-icon {
        position: absolute;
        width: 100%;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        height: 4px;
        border-radius: 20px;
        background: none;
        background-color: #fff;
        transition: all .3s ease;
        opacity: 0;

        &:first-of-type {
          top: 42%;
          bottom: unset;
          opacity: 1;
          transform: rotate(45deg);
        }

        &:last-of-type {
          bottom: 45%;
          top: unset;
          opacity: 1;
          transform: rotate(-45deg);
        }
      }
    }

    &-right {
      justify-content: end;
    }

    &-btn-search {
      background-color: transparent;
      border: 0;
      padding: 0;

      .icon {
        &:after {
          color: #fff;
          font-size: 28px;
          transition: all .3s ease;
        }
      }
    }

    &-nav {
      .nav {
        &-link {
          position: relative;
          padding: 3px 0 !important;
          margin: 0 10px;
          color: #fff;
          opacity: .75;

          &:before {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 2px;
            background-color: #fff;
            content: "";
            transition: transform .4s ease-out;
            transform: scaleX(0);
            transform-origin: bottom right;
          }

          &.active {
            color: #fff;
            opacity: 1;
            pointer-events: none;
          }

          &:hover {
            &:before {
              transform: scaleX(1);
              transform-origin: bottom left;
            }
          }
        }
      }
    }
  }

  &.is-white {
    background-color: #fff;

    &:before {
      opacity: 0;
    }

    .navbar {
      border: 0;

      &-brand {
        a {
          color: #000;
        }
      }

      &-toggler-icon {
        background-color: #000;
      }

      &-btn-search {
        .icon {
          &:after {
            color: #000;
          }
        }
      }

      .nav {
        &-link {
          color: #000;

          &:before {
            background-color: #000;
          }
        }
      }
    }
  }
}