.media-parallax {
  .media-body {
    margin-top: 30px;
    margin-left: 50px;
  }
}

.media-reverse {
  flex-direction: row-reverse;

  .media-body {
    margin-left: 0;
  }

  .media-left {
    margin-left: 50px;
  }
}