.section-about {
  padding: 100px 0 70px;

  .section-title {
    margin-bottom: 45px;
  }

  .lead {
    text-align: center;
    color: #555;
    font-size: 20px;
  }
}

.section-parallax {
  padding: 100px 0;

  .container {
    max-width: 1200px;
  }
}

.section-video-bg {
  overflow: hidden;
}