@keyframes zoom {
  0%{ transform: scale(1)};
  50%{ transform: scale(1.1)};
  100%{ transform: scale(1)};
}

.swiper-fv {
  .swiper-slide {
    position: relative;
    height: 100vh;

    &:before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(0, 0, 0, .4);
      content: "";
      z-index: 1;
    }

    .container {
      max-width: 1000px;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: flex;
      align-items: center;
      color: #fff;
      z-index: 2;
    }

    .lead {
      width: 100%;
      font-size: 16px;
      text-shadow: 0 0 10px rgba(0, 0, 0, .8);
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      animation-name: zoom;
      animation-duration: 25s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;
    }
  }

  .swiper-pagination-bullet {
    width: 14px;
    height: 14px;
    border: 1px solid #fff;
    opacity: 1;
    background-color: transparent;

    &-active {
      background-color: #fff !important;
      border: 0;
    }
  }
}

.swiper-about {
  margin-top: 100px;
  padding-bottom: 60px;
  height: 707px;

  @include media-breakpoint-down(md) {
    height: 340px;
  }

  .swiper-slide {
    width: 970px;

    @include media-breakpoint-down(md) {
      width: 500px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .swiper-pagination {
    bottom: 0;

    &-bullet {
      width: 30px;
      height: 3px;
      border-radius: 2px;
      transition: all .3s ease;

      &-active {
        background-color: #000;
      }
    }
  }
}