.title-black {
  font-size: 36px;
  color: #624c4c;
}

.title-white {
  font-size: 36px;
  color: #fff;
}

.title-common {
  margin-bottom: 80px;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  color: #000;

  @include media-breakpoint-down(md) {
    margin-bottom: 45px;
    font-size: 25px;
  }
}
