// ----------------------------------------------
@mixin row-variant($parent, $grid-gutter-width) {
  #{$parent} {
    margin-right: -$grid-gutter-width;
    margin-left: -$grid-gutter-width;

    > div,
    > li {
      padding-right: $grid-gutter-width;
      padding-left: $grid-gutter-width;
    }
  }
}

// ----------------------------------------------
@include media-breakpoint-up(xxl) {
  @include row-variant(".row-20", 20px);
}


.container {
  max-width: 1400px;
  width: 100%;
}

.hover-img {
  transition: all .3s ease;

  &:hover {
    opacity: .75;
  }
}

// ----------------------------------------------
.bg-photo {
  background: url("../images/common/bg-photo.png") 50% 50% no-repeat;
  background-size: cover;
}
